* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-block: 0;
    padding-inline: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

img {
    display: block;
}
